<h1>About</h1>

<p>
"America is Going Just Great" is a website that curates a timeline of events highlighting America's descent into a fascist hellscape. The site aims to inform and engage readers by providing a chronological account of actions and policies that reflect this decline. Through the checklist at the top, you can filter by interest. Please see the note on "Fascism" and "Project 2025" on the <a href="resources.html">Resources</a> page. Red icons indicate troubling or frightening events while green icons depict acts of resistence. 
</p>

<p>
The articles are compiled by <a href="https:christineroseauthor.com">Christine Rose</a>, but the entire project is a collaboration between her and <a href="https://netninja.com/">Brian Enigma</a>. Articles are a combination of what they've found in their own research and through services like <a href="https://whatthefuckjusthappenedtoday.com/">"WTF Just Happened Today."</a> (Thanks Matt for all your hard work!)
</p>

<p>
Since these articles are compiled by one person, it's difficult to keep up with the barrage of daily articles during this terrifying time. This is by no means an exhaustive list, and other than a few exceptions, only one source is listed, although there are likely many others. Please feel free to suggest articles as well as report any mistakes directly to <a href="mailto:professor.rose@proton.me">Christine</a> at professor.rose@proton.me. You can also create an issue or PR on the <a href="https://github.com/christinerose/static-timeline-generator">GitHub Repo</a>.
</p>

<ul>
<li><a href="https:christineroseauthor.com/blog">Christine's Blog</a></li>
<li><a href="https://netninja.com/blog/">Brian's Blog</a></li>
</ul>

<p>
Why is there a category called "Tiddlywinks"? For years, it's been clear that where the GOP (now MAGA) has been playing hardball, the Democrats have been (and continue to) play Tiddlywinks. They're not playing the same game, and the Democrats have repeatedly failed to grow a backbone, step up, and fight for our democracy. The category highlights articles that show this dangerous trend. More need to <a href="https://www.npr.org/2025/03/04/nx-s1-5318102/trump-joint-session-al-green-protest">behave like Al Green</a>, <a href="https://www.msnbc.com/top-stories/latest/al-green-trump-resistance-democracy-rcna195314">not vote to censure and silence him</a>. 
</p>
<p>Democrats, follow Green's lead. <a href="https://thehill.com/homenews/house/5111319-aoc-fox-news-trump-criticism/">Follow AOC's lead</a>. <a href="https://apnews.com/article/bernie-sanders-democrats-trump-c213d5ae42737c956d46f6f7f17e5abd">Follow Sanders's lead</a>. <a href="https://www.youtube.com/watch?v=Nfelwch5INA">Follow Buttigieg's lead</a>. Do something. Do anything! At this point, Democrat leaders who do not stand up to this fascist takeover are traitors to their country. 
</p>

<p>
If you'd like, <a href="https://www.paypal.com/donate/?hosted_button_id=K4NF748VVS2M6">buy Christine a mocha!</a>
</p>

