<h1>About</h1>

<p>
"America is Going Just Great" is a website that curates a timeline of events highlighting America's descent into a fascist hellscape. The site aims to inform and engage readers by providing a chronological account of actions and policies that reflect this decline. Through the checklist at the top, you can filter by interest (if you only want to see the good news, filter out everything but 'Resist'). Please see the note on "Fascism" and "Project 2025" on the <a href="resources.html">Resources</a> page. Red icons indicate troubling or frightening events while green icons depict acts of resistence. (For those who are red/green color blind, the green icons have a slight drop shadow so you can tell the difference.)
</p>

<p>
Since these articles are compiled by <a href="https://christineroseauthor.com">one person</a>, it's proven impossible to keep up with the barrage of daily articles during this terrifying time. This list has become unmanagably long, often resulting in hours every day. As of 18 April 2025, the focus will be on only the most egregious actions and acts of resistence. Other than a few exceptions, only one source is listed, although there are likely many others. Please feel free to suggest articles as well as report any mistakes directly to <a href="mailto:professor.rose@proton.me">Christine</a>. You can also create an issue or PR on the <a href="https://github.com/christinerose/static-timeline-generator">GitHub Repo</a>.
</p>

<H4>Notes on Tags:</H4>

<p>
Anything tagged "WW3" generally has to do with Trump bullying foreign powers, cutting ties with long-standing allies, sheer incompetence that affects the global stage, and similar situtations. It basically denotes scary foreign policy and rising tensions that could lead to a world conflict, likely against the USA... however that might manifest.
</p>

<p>The "Orwell" tag points to things like rewriting history, supression of free speech and free press, double speak, surveillance, etc.</p>

<p>"FAFO" stands for "Fuck Around and Find Out." <a href="https://www.merriam-webster.com/slang/fafo">FAFO</a> became a popular hashtag shortly after the election, mostly schadenfreude for people facing consequences for supporting Trump. This tag shows that as well as repercussions Trump and his supporters are experiencing.</p>

<p>
Why is there a category called "Tiddlywinks"? For years, it's been clear that where the GOP (now MAGA) has been playing hardball, the Democrats have been (and continue to) play Tiddlywinks. They're not playing the same game, and the Democrats have repeatedly failed to grow a backbone, step up, and fight for our democracy. The category highlights articles that show this dangerous trend. More need to <a href="https://www.npr.org/2025/03/04/nx-s1-5318102/trump-joint-session-al-green-protest">behave like Al Green</a>, <a href="https://www.msnbc.com/top-stories/latest/al-green-trump-resistance-democracy-rcna195314">not vote to censure and silence him</a>. 
</p>
<p>Democrats, follow Green's lead. <a href="https://thehill.com/homenews/house/5111319-aoc-fox-news-trump-criticism/">Follow AOC's lead</a>. <a href="https://apnews.com/article/bernie-sanders-democrats-trump-c213d5ae42737c956d46f6f7f17e5abd">Follow Sanders's lead</a>. <a href="https://www.youtube.com/watch?v=Nfelwch5INA">Follow Buttigieg's lead</a>.  <a href="https://abcnews.go.com/Politics/booker-stages-senate-filibuster-protest-crisis-trump-musk/story?id=120365354">Follow Booker's lead</a>. Do something. Do anything! At this point, Democrat leaders who do not stand up to this fascist takeover are traitors to their country. 
</p>
<p>"Tiddlywinks" also tracks democrats who are actively resisting as well. Basically, anything Democrat leaders are doing (or not doing).</p>

