<h1>About</h1>

<p>
"America is Going Just Great" is a website that curates a timeline of events highlighting America's descent into a fascist hellscape. The site aims to inform and engage readers by providing a chronological account of actions and policies that reflect this decline. Through the checklist at the top, you can filter by interest. Please see the note on "Fascism" and "Project 2025" on the <a href="resources.html">Resources</a> page.
</p>

<p>
The articles are compiled by <a href="https:christineroseauthor.com">Christine Rose</a>, but the entire project is a collaboration between her and <a href="https://netninja.com/">Brian Enigma</a>. Articles are a combination of what they've found in their own research and through services like <a href="https://whatthefuckjusthappenedtoday.com/">"WTF Just Happened Today."</a> (Thanks Matt for all your hard work!)
</p>

<p>
Since these articles are compiled by one person, it's difficult to keep up with the barrage of daily articles during this terrifying time. Please feel free to suggest articles as well as report any mistakes directly to <a href="mailto:professor.rose@proton.me">Christine</a> at professor.rose@proton.me. You can also create an issue or PR on the <a href="https://github.com/christinerose/static-timeline-generator">GitHub Repo</a>.
</p>

<ul>
<li><a href="https:christineroseauthor.com/blog">Christine's Blog</a></li>
<li><a href="https://netninja.com/blog/">Brian's Blog</a></li>
</ul>

<p>
<a href="https://www.paypal.com/donate/?hosted_button_id=K4NF748VVS2M6">Buy Christine a mocha!</a>
</p>

<p>
Example <a href="https://www.theguardian.com/us">link to a thing</a>.
</p>
