<h1>Resources</h1>

<h2>Project 2025 & Fascism</h2>
<p>
Throughout the timeline, you'll find many things labelled "Project 2025" or "Fascism." Although so much of Project 2025 is fascist in nature, for the purpose of filtering this overwhelming amount of information, usually the most terrifying are labelled "Fascism." Overall, it's difficult to determine which articles should be labelled "Project 2025" or "Fascsim," as so many overlap.</p>
  
<p>The term "Fascism" is thrown around a lot, so here are some links that talk about the different types of government, including Fascism, Authoritarianism, and Totalitarianism. In short, all three are fascist in nature, but there are minor differences. Regardless of the term used, it is undeniable that the USA is losing its democracy and a psychopathic dictator is taking power.
</p>

<ul>

  <li>
  <p>
<a href="https://www.bbc.co.uk/news/articles/c977njnvq2do">Project 2025: The Right-Wing Wish List for Trump's Second Term</a>
  </p>
</li>

  <li>
  <p>
<a href="https://www.aclu.org/project-2025-explained">Project 2025 Explained</a>
  </p>
</li>

  <li>
  <p>
<a href="https://www.americanprogress.org/article/the-dangers-of-project-2025-global-lessons-in-authoritarianism/">The Dangers of Project 2025: Global Lessons in Authoritarianism</a>
  </p>
</li>

   <li>
  <p>
<a href="https://www.project2025.observer/">Project 2025 Tracker</a>
  </p>
</li>

  <li>
  <p>
<a href="https://robertreich.org/post/155319264160">The 15 Warnings Signs of Impending Tyranny</a>
  </p>
</li>

<li>
  <p>
<a href="https://election.princeton.edu/articles/authoritarian-government-watch/">Authoritarian Government Watch</a>
  </p>
</li>

<li>
  <p>
<a href="https://en.wikipedia.org/wiki/Authoritarianism">Wikipedia: Authoritarianism</a>
  </p>
</li>

<li>
  <p>
<a href="https://protectdemocracy.org/threat-index/">Authoritarian Threat Index</a>
  </p>
</li>

<li>
  <p>
<a href="https://commonslibrary.org/authoritarianism-how-you-know-it-when-you-see-it/">Authoritarianism: How You Know It When You See It</a>
  </p>
</li>

<li>
  <p>
<a href="https://protectdemocracy.org/work/the-authoritarian-playbook/">The Authoritarian Playbook</a>
  </p>
</li>

<li>
  <p>
<a href="https://www.britannica.com/topic/totalitarianism/Totalitarianism-and-autocracy">Totalitarianism and Autocracy</a>
  </p>
</li>

<li>
  <p>
<a href="https://www.merriam-webster.com/dictionary/fascism">Fascism Defined</a>
  </p>
</li>
  
</ul>

<h2>Information</h2>
<p>
Below you'll find links to help educate and keep you informed.
</p>

<ul>

  <li>
  <p>
<a href="https://www.justsecurity.org/107087/tracker-litigation-legal-challenges-trump-administration/">Litigation Tracker</a>: This public resource tracks legal challenges to Trump administration actions.
  </p>
</li>
  
<li>
  <p>
<a href="https://www.msb.se/en/advice-for-individuals/the-brochure-in-case-of-crisis-or-war/download-and-order-the-brochure-in-case-of-crisis-or-war/">In Case of War Brochure</a>: The brochure “In case of crisis or war” provides advice on how to prepare yourself and what you should do in the event of crisis or war.
  </p>
</li>

<li>
  <p>
<a href="https://joycevance.substack.com/p/call-it-what-it-is?">Call it what it is.</a>: What's happening in the USA right now is a coup.
  </p>
</li>

<li>
  <p>
<a href="https://www.techpolicy.press/anatomy-of-an-ai-coup/s?">Anatomy of an AI Coup.</a>: DOGE is gutting federal agencies...Democracy is on the line.
  </p>
</li>

</ul>

<h2>Activism & How to Cope</h2>
<p>Tips on how to cope and suggestions of what you can do. #RESIST</p>

<ul>
<li>
  <p>
<a href="https://spencersunshine.com/2020/08/27/fortyways/">40 Ways to Fight Fascists</a>: Street-Legal Tactics for Community Activists.
  </p>
</li>
  
  <li>
  <p>
<a href="https://choosedemocracy.us/what-can-i-do/">What Can I Do to Fight This Coup.</a>: Some starting points on how to orient and help fight the coup.
  </p>
</li>

<li>
  <p>
<a href="https://www.theguardian.com/commentisfree/2025/jan/24/trump-fascism-what-to-do">Trump’s Neofascism is Here Now.</a>: Here are 10 things you can do to resist.
  </p>
</li>

<li>
  <p>
<a href="https://www.theguardian.com/commentisfree/2025/feb/21/lessons-for-the-resistance-20-on-how-to-fight-back-against-trump">
Lessons for the Resistance 2.0 on How to Fight Back Against Trump</a>: Defeatism and demoralisation are rampant in Trump’s second term. But we cannot give up. (This is more about what other leaders can do, so keep writing to your representatives and urge them to take action.)
  </p>
</li>

  <li>
  <p>
<a href="https://opdreadnought.com/">Operation Dreadnought</a>: This is an Anonymous operation to stop the fascism that has infected the GOP.</a>
  </p>
</li>

    <li>
  <p>
<a href="https://micahflee.com/step-by-step-guide-to-reading-the-leaked-militia-chats-yourself/">Step-by-step guide to reading the leaked militia chats yourself</a>. Get some background in <a href="https://micahflee.com/exploring-the-paramilitary-leaks/">Exploring Military Leaks</a>. <a href="https://ddosecrets.com/article/paramilitary-leaks">Visualization of some datasets, also how you can support the team working on it.</a>
  </p>
</li>

<li>
  <p>
<a href="https://christineroseauthor.com/2024/11/10/cyber-activism-10-ways-to-stay-safe/">Cyber-Activism: 10 Ways to Stay Safe</a>: An actionable list
  </p>
</li>

<li>
  <p>
<a href="https://netninja.com/2024/12/28/using-the-internet-without-leaving-a-trace-a-how-to-guide/">Using the Internet Without Leaving a Trace</a>: A how-to guide
  </p>
</li>

  <li>
  <p>
<a href="https://torrentfreak.com/best-vpn-anonymous-no-logging/">Which VPN Providers Really Take Privacy Seriously?</a>
  </p>
</li>

<li>
  <p>
<a href="https://netninja.com/keeping-yourself-together-in-the-face-of-fascism/">Keeping Yourself Together in the Face of Fascism</a>: Collection of helpful articles and videos
  </p>
</li>

<li>
  <p>
<a href="https://www.psychologytoday.com/intl/blog/threshold/202502/in-tumultuous-times-think-like-a-hostage">In Tumultuous Times, Think Like a Hostage</a>: Guidance given to hostages can foster psychological flexibility in tough times.
  </p>
</li>

<li>
  <p>
<a href="https://johnoliverwantsyourraterotica.com/">How to Thwart Facebook & Instagram</a>: To make yourself less valuable to Meta given their support of fascism.</a>
  </p>
</li>

  <li>
  <p>
<a href="https://european-alternatives.eu/alternatives-to">European Alternatives for Popular Services</a>: Great resource if you want to move away from American corporations for online services.</a>
  </p>
</li>

    <li>
  <p>
<a href="https://beige.party/@Lana/114157916830499372">The Resistance is Growing</a>: A few reminders of how people are making a difference in fighting this coup.</a>
  </p>
</li>


  

  
</ul>

  <h2>Fun & Satire</h2>

  <ul>
<li>
  <p>
<a href="https://theonion.com/loyaltytestkits/">The Onion :: Loyalty Tests.</a>
  </p>
</li>

    <li>
  <p>
<a href="https://www.youtube.com/watch?v=M5ZbiR0003Q">Historians Will Forever Remember When We Held Up Very Small Signs (Video)</a>: Hilarous response to the insufficient Democratic resistance at <a href="https://www.theguardian.com/us-news/2025/mar/05/trump-turns-congress-speech-into-a-sordid-campaign-rally-igniting-a-democrat-fightback">Trump's Congress Speech</a> in March 2025
  </p>
</li>

        <li>
  <p>
<a href="https://stealmytesla.com/">Steal My Tesla</a>: Don't waste any more time trying to sell your Tesla.
We'll take it from here...
  </p>
</li>




    
  </ul>


  

