<h1>Resources</h1>

<h2>Something something describe "fascism" and "Project 2025" as used in this Timeline.</h2>
<p>
Lorem Ipsum Yada Yada Yada
</p>

<ul>

  <li>
  <p>
<a href="https://robertreich.org/post/155319264160">The 15 Warnings Signs of Impending Tyranny</a>
  </p>
</li>

<li>
  <p>
<a href="https://election.princeton.edu/articles/authoritarian-government-watch/">Authoritarian Government Watch</a>
  </p>
</li>

<li>
  <p>
<a href="https://en.wikipedia.org/wiki/Authoritarianism">Wikipedia: Authoritarianism</a>
  </p>
</li>

<li>
  <p>
<a href="https://protectdemocracy.org/threat-index/">Authoritarian Threat Index</a>
  </p>
</li>

<li>
  <p>
<a href="https://commonslibrary.org/authoritarianism-how-you-know-it-when-you-see-it/">Authoritarianism: How You Know It When You See It</a>
  </p>
</li>

<li>
  <p>
<a href="https://protectdemocracy.org/work/the-authoritarian-playbook/">The Authoritarian Playbook</a>
  </p>
</li>

<li>
  <p>
<a href="https://www.britannica.com/topic/totalitarianism/Totalitarianism-and-autocracy">Totalitarianism and Autocracy</a>
  </p>
</li>
  
</ul>

<p>
<h2>Something Something more resources for information and coping ??</h2>
</p>

<ul>

  <li>
  <p>
<a href="https://www.justsecurity.org/107087/tracker-litigation-legal-challenges-trump-administration/">Litigation Tracker</a>: This public resource tracks legal challenges to Trump administration actions.
  </p>
</li>
  
<li>
  <p>
<a href="https://www.msb.se/en/advice-for-individuals/the-brochure-in-case-of-crisis-or-war/download-and-order-the-brochure-in-case-of-crisis-or-war/">In Case of War Brochure</a>: The brochure “In case of crisis or war” provides advice on how to prepare yourself and what you should do in the event of crisis or war.
  </p>
</li>

<li>
  <p>
<a href="https://www.psychologytoday.com/intl/blog/threshold/202502/in-tumultuous-times-think-like-a-hostage">In Tumultuous Times, Think Like a Hostage</a>: Guidance given to hostages can foster psychological flexibility in tough times.
  </p>
</li>

  
</ul>

<p>
Example <a href="https://www.theguardian.com/us">link to a thing</a>.
</p>
